<header id="page-heading">
  <div id="page-heading2">
    <div id="img-logo">
    </div>      
      <div id="text-header">
        <div>
          <div id="yellow-text">Aproveite nossos cupons!</div>
          <div id="yellow-text2">e seja ainda mais feliz!</div>
        </div>
        <div>
          <p class="white-text">Economize ainda mais em nossas ofertas especiais!<br /> 
            Descubra as vantagens e saiba como usar o cupom <br />      
            de desconto. ;)
          </p>
        </div>
        <button id="button">veja como usar</button>
      </div>
  </div>
</header>
<div id="container-1">
  <div class="text-container">
    <p>Quem usa cupons de desconto tem muito mais vantagens:</p>
  </div>
  <div class="c-icon">
    <div class="c-economic-list"></div>
    <div class="c-text">
      Economia ainda maior nas suas compras
    </div>
  </div>
  <div class="c-icon">
    <div class="c-selection-list"></div>
    <div class="c-text">
      Seleção especial de<br /> produtos pra você escolher
    </div>
  </div>
  <div class="c-icon">
    <div class="c-ticket-list"></div>
    <div class="c-text">
      Os cupons de desconto são válidos no Site, Mobile e App
    </div>
  </div>
</div>
<div id="container-2">
  <div class="image-custom">
    <div id="yellow-text3">
      Não possui o App?<br />Aproveite e baixe agora mesmo!
    </div>
  </div>
</div>
<div id="container-3">
  <div class="text-container">
    <p>Pra usar nossos cupons de desconto é muito fácil:</p>
  </div>
  <div class="mini-container">
    <div class="image-custom2">
      <div class="text-container2">
        <div class="text-title">
          Escolha o produto
        </div>
        <div id="text-subtitle">
          Coloque os produtos que vão te deixar feliz na <br /> sua sacola de compras do site.
        </div>
      </div>
    </div>
  </div>
  <div class="mini-container">
    <div class="image-custom3">
      <div class="text-container3">
        <div class="text-title">
          Insira o cupom
        </div>
        <div id="text-subtitle">
          Na tela de pagamento, digite o seu <br /> cupom em "Inserir cupom de <br /> desconto" e clique em "OK".
        </div>
      </div>
    </div>
  </div>
  <div class="mini-container">
    <div class="image-custom4">
      <div class="text-container4">
        <div class="text-title">
          Finalize o produto
        </div>
        <div id="text-subtitle">
          Pronto! Agora é só selecionar a forma <br /> de pagamento e finalizar a sua compra.
        </div>
      </div>
    </div>
  </div>
</div>